@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container{
    width: 100%;
    display: flex;
    background-color: #E8D9D6;
    box-sizing: border-box;
}
.container-info{
    width: 50%;
    margin-left: 5%;
}
.container-info-img{
    position: relative;
    top: 9.5vh;
    left: 0.5vw;
    width: 12.6vw;


}
.container-info-img:hover{
   transform: rotate3d(20deg);
}
.container-info {
    position: relative;
    top: -5vh;
}
.container-info h1{
    font-size: 7vw;
    margin: 0;
}
.container-info p{
    font-size: 1.7vw;
    margin: 0;
}
.container-info-boton{
    color: white;
    background-color: black;
    border: none;
    padding: 1.7% 4%;
    font-size: 1.1vw;
    border-radius: 35px;
    margin-top: 3vh;
    cursor: pointer;
}
.container-info-boton:hover{
    width: 28%;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.562);
}
.container-images{
    /*width: min(100% - 80px, 500px);*/
    width: 50%;
}
.container-images-fondo{
    width: 46.5vw;
}
.container-images-mancha{
    width: 40.6vw;
    position: absolute;
    top: 25vh;
    right: 4Vw;
}
.container-images-bebida{
    width: 23.6vw;
    position: absolute;
    right: 12vw;
    top: 11vh;
}
.footer{
    background-color: #E8D9D6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bar{
    
    cursor: pointer;
    padding-right: 4%;
    display: flex;
    margin: 1vw;
    background-color: #fffdfc;
    align-items: center;
    border-radius: 90px;
}
.footer-bar img:hover{
    scale: 1.2;
    transition-duration: 2s;
    transition-property: all;
}

.footer-bar:first-of-type:hover {
    background-image: linear-gradient(rgb(250, 245, 239),rgb(250, 224, 224),rgb(247, 171, 171));
    box-shadow: 4px 4px 0 rgb(163, 29, 29);
}
.move:hover{
    background-image: linear-gradient(rgb(236, 240, 248),rgb(229, 235, 248),rgb(139, 183, 248));
    box-shadow: 4px 4px 0 blue;
}
.footer-bar:last-of-type:hover{
    background-image: linear-gradient(rgb(250, 255, 250),rgb(219, 250, 221),rgb(149, 253, 135));
    box-shadow: 4px 4px 0 rgb(28, 68, 28);
}
.footer-bar img{
    margin-right: 5%;
}
.footer-bar h2{
    margin: 4% 0 0;
    font-size: 35px;
}
.footer-bar p{
    font-size: 18px;
    margin: 0;
}
.move{
    position: relative;
    animation-name: despliegue;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: both;
}
.move-2{
    position: relative;
    animation-name: despliegue2;
    animation-duration:8s;
    animation-delay: 1s;
    animation-fill-mode: both;
}
@keyframes despliegue{
    0%{
        left: -460px;
    }
    100%{
        left: 0px;
    }
}
@keyframes despliegue2{
    0%{
        left: -920px;
    }
    50%{
        left: -460px;
    }
    100%{
        left: 0px;
    }
}
@media (max-width:1600px) {
    .container-info-img{
        top: 5vh;
    }
    .container-info{
        margin-top: 35px;
    }
    .container-info h1{
        font-size: 7.5vw;
    }
    .container-info p{
        font-size: 1.9vw;
    }
    .container-info button{
        font-size: 1.7vw;
    }
    .container-images-mancha{
        top: 13vh;
    }
    .container-images-bebida{
        width: 23.6vw;
        top: 6vh;
    }
    .footer-bar{
        border-radius: 90px;
    }
    .footer-bar img{
        width: 13vw;
        border-radius: 90px;
    }
    .footer-bar h2{
        font-size: 30px;
    }
    .footer-bar p{
        font-size: 12px;
    }
    @keyframes despliegue{
        0%{
            left: -350px;
        }
        100%{
            left: 0px;
        }
    }
    @keyframes despliegue2{
        0%{
            left: -700px;
        }
        50%{
            left: -350px;
        }
        100%{
            left: 0px;
        }
    }
}
@media (max-width:768px) {
    .container{
        padding-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    .container-info{
        width: 100%;
    }
    .container-info img{
        width: 20vw;
    }
    .container-images{
        width: 100%;
    }
    .container-info h1{
        font-size: 70px;
    }
    .container-info p{
        font-size: 15px;
    }
    .container-info button{
        font-size: 15px;
    }
    .container-images-fondo{
        width: 86.5vw;
        margin-left: 53px;
    }
    .container-images-mancha{
        width: 80vw;
        top: 430px;
        left: 70px;
    }
    .container-images-bebida{
        width: 38.6vw;
        top: 410px;
        left: 150px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-bar{
        width: 300px;
        margin:20px;
    }
    .footer-bar img{
        width: 120px;
    }
    .footer-bar h2{
        font-size: 30px;
    }
    .footer-bar p{
        font-size: 15px;
    }
}